button {
    cursor: pointer;

    &.btn {
        border-radius: 4px;
        padding: 9px 20px;
        border: 1px solid rgba(211, 211, 211, 0.306);
        font-weight: 700;
        min-width: 100px;

        &.btn-primary {
            background-color: var(--btn-primary);
            color: white;

            &:hover {
                background-color: var(--btn-primary-hover);
                color: black;
            }
        }

        &.btn-light {
            background-color: var(--btn-light);

            &:hover {
                background-color: var(--btn-light-hover);
                color: black;
            }
        }

        &.btn-info {
            background-color: var(--btn-info);

            &:hover {
                background-color: var(--btn-info-hover);
                color: white;
            }
        }

        &.align-right {
            float: right;
            margin: 10px;
        }
    }
}